.problem-info {
  margin-bottom: 3rem;
}

.difficulty {
  margin-right: 1rem;
  padding: 4px;
  font-size: 75%;
  border-radius: 5px;
}

.easy {
  color: green;
  border: 1px solid green;
}

.medium {
  color: orange;
  border: 1px solid orange;
}

.hard {
  color: red;
  border: 1px solid red;
}

.leetcode-link {
  color: grey;
  font-size: 85%;
}

.problem-topics {
  list-style-type: none;
  padding-inline-start: 0;
}

.problem-topic {
  display: inline;
  margin-left: 1rem;
  padding: 3px 10px;
  background-color: lightgray;
  color: gray;
  border-radius: 3px;
}

.related-problems {
  margin-top: 4rem;
}

.related-problems li {
  line-height: 1.5;
}

.related-problems a {
  color: lightskyblue;
}

pre[class^="language-"] {
  display: none;
}

.language-cpp .language-cpp {
  display: block;
}

.language-java .language-java {
  display: block;
}
