.solution-table {
  width: 100%;
  table-layout: fixed;
}

.col-title {
  width: 45%;
}

.col-difficulties {
  width: 10%;
}

.solution-table a {
  color: black;
  text-decoration: none;
  line-height: 1.8;
}

.problem-info {
  margin-bottom: 3rem;
}

.problem-difficulties {
  display: inline;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.problem-difficulty {
  display: inline-block;
  margin: 0.25rem 1rem 0.25rem 0;
  padding: 4px;
  font-size: 75%;
  border-radius: 5px;
}

.easy {
  color: green;
  border: 1px solid green;
}

.medium {
  color: orange;
  border: 1px solid orange;
}

.hard {
  color: red;
  border: 1px solid red;
}

.problem-tags {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.problem-tag {
  display: inline;
  margin-left: 1rem;
  padding: 3px 10px;
  background-color: #eee;
  color: gray;
  border-radius: 3px;
  line-height: 2;
}

.leetcode-link {
  color: gray;
  font-size: 85%;
}

.related-problems {
  margin-top: 4rem;
}

.related-problems li {
  line-height: 1.5;
}

.related-problems a {
  color: lightskyblue;
}

.solution-main p {
  line-height: 1.6;
  font-size: 1.1rem;
}

.solution-main p code {
  background-color: #eee;
}

.solution-main li code {
  background-color: #eee;
}

.solution-main li {
  line-height: 1.6;
}

.solution-main a {
  color: gray;
}

.code-details {
  margin: 10px;
}

.code-details:hover {
  cursor: pointer;
}

.pseudo-code {
  font-size: large;
  margin-left: 2rem;
}
